
body{
  background-image:url(../IMG/41.jpg);
  background-repeat: no-repeat;
  background-size: 2000px;
 
  font-family: 'Roboto', sans-serif;
  
}
#main-menuBar{
    position: absolute;
	width:100%;
    background-color:rgba(0, 0, 0, 0.20);
	height:50px;
	border-bottom:#000 solid 0px;
	color:#fff;
    z-index: 2;
	top:0;
	left:0;
}
#main-menuBar a{color:#fff;}
#logo
{
	float:left;
	padding:0px;
	margin:0px 50px;
	background-color:rgba(0, 0, 0, 0.2);
	border:#000 solid 3px;
	
	border-radius:100px;
}
#main-menuBar ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
	
}
#main-menuBar ul li{
font-size:22px;
float:right;
margin:15px 70px;

}

#provider ul{
width:25%;
height:500px;
position:absolute;
left:280px;
top:740px;
display:block;
background-color:;
color:black;
}
#provider ul li{
display:block;
font-size:24px;
height:50px;
color:black;
padding:25px;
}

#seeker ul{
width:25%;
height:500px;
position:absolute;
left:540px;
top:740px;
display:block;
background-color:;
color:black;
}
#seeker ul li{
display:block;
font-size:24px;
height:50px;
color:black;
padding:25px;
list-style-type:none;
}

#search ul{
width:25%;
height:500px;
position:absolute;
left:770px;
top:760px;
display:block;
background-color:;
color:black;
}
#search ul li{
display:block;
font-size:24px;
height:50px;
color:black;
padding:25px;
list-style-type:none;
}

#test ul{
width:25%;
height:500px;
position:absolute;
left:1050px;
top:750px;
display:block;
background-color:;
color:black;
}
#test ul li{
display:block;
font-size:24px;
height:50px;
color:black;
padding:25px;
list-style-type:none;
}

#report1 ul{
width:25%;
height:500px;
position:absolute;
left:1315px;
top:745px;
display:block;
background-color:;
color:black;
}
#report1 ul li{
display:block;
font-size:24px;
height:50px;
color:black;
padding:25px;
list-style-type:none;
}
#report ul{
width:25%;
height:500px;
position:absolute;
left:1410px;
top:745px;
display:block;
background-color:;
color:black;
}
#report ul li{
display:block;
font-size:24px;
height:50px;
color:black;
padding:25px;
list-style-type:none;
}
a{
color:black;
}

.login-card {
	
	
  padding: 130px;
  width: 1100px;
  background-color: ;
  margin: 40%  auto 40px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(50, 50, 50, 50);
  overflow: hidden;
 
  }
